<!doctype html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="{% static 'css_auth/auth.css' %}">

  <title>Check Password Successfull</title>
</head>
<body>
<div class="content reset-password">
  <div class="container">
    <div class="row justify-content-center  ">
      <div class="col-md-6 contents signup">
        <div class="row justify-content-center ">
          <div class="col-md-12">
            <div class="form-block">
              <div class="mb-4">
                <img src="{% static 'assets//icon//change-password.png' %}" class="img-fluid reset-img mx-auto d-block" alt="reset-password">
                <h3 class="text-center mb-4"><strong>Change Password*</strong></h3>
                <p class="my-4" style="text-align: center;">Your Password is now Changed</p>
              </div>
              <a href="/community/login"><input type="submit" value="LOGIN" class="btn btn-pill text-white btn-block btn-primary"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js_auth/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js_auth/popper.min.js' %}"></script>
<script src="{% static 'js_auth/bootstrap.min.js' %}"></script>
<script src="{% static 'js_auth/main.js' %}"></script>
</body>
</html>