<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Communtiy</title>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static '/css/style_index_final.css' %}">
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
</head>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1 class="text-light"><a href="/community/index"><span>SportVision</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/community/index">Home</a></li>
        <li class="dropdown"><a href="/community/index"><span>Community</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/community/activity">Activity</a></li>
            <li><a href="/community/member">Members</a></li>
            <li><a href="#">Community</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/community/about">About Us</a></li>
<!--        <li><a class="nav-link scrollto" href="/community/activity">Activity</a></li>-->

        <li><a class="nav-link scrollto" href="/community/contact">Contact</a></li>
        {% if user.is_authenticated %}


        <li><a class="getstarted signUp scrollto" href="/community/activity">Activity</a></li>
        <li><a class="getstarted signUp scrollto" href="/community/post/">MyPost</a></li>
        <li><a class="getstarted signUp scrollto" href="/community/post/create">CreatePost</a></li>
         <li><a class="getstarted signUp scrollto" href="/community/profile/">Profile</a></li>
        <li><a class="getstarted signUp scrollto" href="/community/logout">Logout</a></li>
        {% else %}
        <li><a class="getstarted signUp scrollto" href="/community/login">Log In</a></li>
        <li><a class="getstarted logIn scrollto" href="/community/signup">Sign Up</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<body>
    <div class="main" style="margin:8rem">
        <section class="main-section">

            <section class="sectionPart">
                <section class="newsfeed">
                    <form>
                        <input value="{{ request.GET.si }}" type="text" name="si" />
                        <input type="submit" value="Search" />
                    </form>

                    <div class="newsfeed-section">

                        <!-- POST START HERE -->
                        <section class="post">
                            {% for p1 in post_list %}
                            <div class="content-header">
                                <div class="name">
                                    <h3>{{user}}</h3>
                                    <h5>{{p1.subject}}</h5>
                                </div>
                                <div class="more">
                                    <a href="/community/post/delete/{{p1.id}}" ><span>delete</span></a>
                                </div>
                            </div>
                            <div class="img-section">
                                 {% if p1.pic %}
                                <img src="{{p1.pic.url}}" alt="image not found">
                                {% endif %}
                            </div>
                            <div class="desc-content">
                                <p class="para">{{p1.msg}}</p>
                            </div>
                            <div class="post-section">

                                <div class="icons-newsfeed">
                                    <a href="/community/profile/like/{{p1.id}}">
                                    <span class="like"><svg aria-label="Like" class="_8-yf5 " fill="#262626" height="24"
                                            viewBox="0 0 48 48" width="24">
                                            <path
                                                d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                            </path>
                                        </svg></span>
                                    </a>
<!--                                    <span class="comment"><svg aria-label="Comment" class="_8-yf5 " fill="#262626"-->
<!--                                            height="24" viewBox="0 0 48 48" width="24">-->
<!--                                            <path clip-rule="evenodd"-->
<!--                                                d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"-->
<!--                                                fill-rule="evenodd"></path>-->
<!--                                        </svg></span>-->
<!--                                    <span class="share"><svg aria-label="Share Post" class="_8-yf5 " fill="#262626"-->
<!--                                            height="24" viewBox="0 0 48 48" width="24">-->
<!--                                            <path-->
<!--                                                d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">-->
<!--                                            </path>-->
<!--                                        </svg></span>-->
<!--                                    <span class="save"><svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24"-->
<!--                                            viewBox="0 0 48 48" width="24">-->
<!--                                            <path-->
<!--                                                d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">-->
<!--                                            </path>-->
<!--                                        </svg></span>-->
                                </div>
                                <div class="desc">
                                    <div class="likes">
                                        <span><strong>4 likes</strong></span>
                                    </div>

                                    <div class="comments">
                                        <div class="all-comments">
                                            <div class="single-comment">
                                                <h3>Miranda</h3>
                                                <p class="para">cool</p>
                                                <span class="like-emoji"><svg aria-label="Like" class="_8-yf5 "
                                                        fill="#262626" height="12" viewBox="0 0 48 48" width="12">
                                                        <path
                                                            d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                                        </path>
                                                    </svg></span>
                                            </div>
                                            <div class="single-comment">
                                                <h3>battus</h3>
                                                <p class="para">great</p>
                                                <span class="like-emoji"><svg aria-label="Like" class="_8-yf5 "
                                                        fill="#262626" height="12" viewBox="0 0 48 48" width="12">
                                                        <path
                                                            d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                                        </path>
                                                    </svg></span>
                                            </div>
                                        </div>
                                        <span class="clr">View all 3 comments</span>
                                        <div class="time-ago">
<!--                                            <span>12 HOURS AGO</span>-->
                                        </div>
                                        <div class="line"></div>
                                        <form action="" class="user-comment-section">
                                            <input type="text" name="" id="addComment" required
                                                placeholder="Add a comment...">
                                            <div class="toLeft">
                                                <button class="btn" type="submit"><span
                                                        class="post-btn">Post</span></button>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </section>
                        <!-- POST ENDS HERE -->

                    </div>

                </section>
            </section>
        </section>
    </div>
</body>


<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static '/js/app.js' %}"></script>

</html>