<!DOCTYPE html>
{% extends 'community/master.html' %}
{% load static %}
{% block head %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Communtiy</title>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static '/css/style_index_final.css' %}">
     <link rel="stylesheet" href="{% static 'css/profile_final.css' %}">
</head>
{% endblock %}

{% block container %}
<body>
<div class="main-content edit-content">
  <div class="col-xl-8 order-xl-1">
    <div class="card bg-secondary shadow">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="edit-profile col-4">
              <a href="{{p2.picture.url}}">
                <img src="{{p2.picture.url}}" class="rounded-circle">
              </a>
            </div>
            <div class="col-4 text-right">
              {{ form.picture }}
              {{ form.picture. }}
              <!--            <a href="#!" class="btn btn-sm btn-primary">Change Profile</a>-->
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">User information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-username">Username</label>
                  <input type="text" name="name" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{ p2.name }}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Gender</label>
                  <input type="text" name="gender" value="{{ p2.gender }}" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-first-name">Status</label>
                  <input type="text" name="status"  id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{ p2.status }}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-last-name">Last name</label>
                  <input type="text" name="address" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{ p2.address }}">
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <!-- Address -->
          <div class="pl-lg-4">

            <h6 class="heading-small text-muted mb-4">Social Media Links</h6>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-city">Your Facebook</label>
                  <input type="text" name="your_facebook" id="input-city" value="{{ p2.your_facebook }}" class="form-control form-control-alternative" placeholder="Youtube.com/">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-country">Your Bio</label>
                  <input type="text" name="your_bio" id="input-country" value="{{ p2.your_bio }}" class="form-control form-control-alternative" placeholder="Instagram.com/" >
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <input type="submit" name="submit" value="Submit" class="btn btn-sm btn-info mr-8">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</body>
{% endblock %}